@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer components {
  .prose {
    @apply max-w-full;
  }
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

@layer base {
  a {
    @apply underline-offset-2 underline decoration-primary hover:underline-offset-[3px];
    @apply transition-all duration-100 ease-in;
  }

  textarea {
    @apply !min-h-[150px];
  }
  input,
  textarea {
    @apply focus:ring-primary focus:border-primary;
  }
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.page-container {
  @apply mx-auto max-w-3xl w-full py-2 md:py-4;
}
.post-container {
  @apply mx-auto max-w-3xl w-full py-2 md:py-4;
}
