@tailwind base;
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--p)) hsl(var(--n));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--n));
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--p));
  border-radius: 14px;
  border: 3px solid hsl(var(--n));
}
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-accent text-accent-content;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .prose {
    @apply prose-lg max-w-none lg:prose-xl;
  }
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

@layer base {
  .link {
    @apply relative w-fit !no-underline;
  }
  .link::before {
    content: '';
    @apply absolute bottom-0 left-0 block h-[2px] min-h-[2px] w-full scale-x-0 bg-primary;
    transition: transform 0.2s ease;
    transform-origin: top left;
  }
  .link:hover::before {
    @apply scale-100;
  }
  .link-nav::before {
    @apply -bottom-1;
    transform-origin: top center;
  }

  textarea {
    @apply !min-h-[150px];
  }
  input,
  textarea {
    @apply focus:border-primary focus:ring-primary;
  }
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.page-container {
  @apply mx-auto w-full max-w-3xl py-2 md:py-4;
}
.post-container {
  @apply mx-auto w-full max-w-3xl py-2 md:py-4;
}

.bar-chart g rect {
  @apply fill-primary stroke-primary;
}

.bar-chart g line,
.bar-chart g text {
  @apply fill-base-content/60 stroke-base-content/60;
}
